@if (enviado()) {
  <ts-pagina-formulario [titulo]="'cuenta.recuperarClave.exito_titulo' | transloco">
    <p>{{ 'cuenta.recuperarClave.exito_mensaje' | transloco }}</p>
  </ts-pagina-formulario>
} @else {
  <ts-pagina-formulario [titulo]="'cuenta.recuperarClave.titulo' | transloco">
    <p>{{ 'cuenta.recuperarClave.instrucciones' | transloco }}</p>

    <form
      class="flex flex-col gap-16 mt-16"
      [formGroup]="form"
      (submit)="$event.preventDefault(); enviar()"
    >
      <ts-campo
        idCampo="recuperar-correo"
        tipo="email"
        [label]="'cuenta.recuperarClave.correo' | transloco"
        formControlName="correo"
      />

      @if (error()) {
        <p class="m-0 text-ts-error" role="alert">{{ error() }}</p>
      }

      <ts-boton
        variante="primario"
        tipo="submit"
        [deshabilitado]="formularioInvalido()"
        [cargando]="enviando()"
        [etiquetaCargando]="'cuenta.recuperarClave.enviando' | transloco"
      >
        {{ 'cuenta.recuperarClave.enviar' | transloco }}
      </ts-boton>
    </form>
  </ts-pagina-formulario>
}
