.ts-paginador {
  display: flex;
  align-items: center;
  gap: var(--esp-16);
  margin-block-start: var(--esp-24);
}

.ts-paginador__info {
  font-size: var(--texto-sm);
  color: var(--color-texto-suave);
}
