<ts-pagina-formulario [titulo]="'cuenta.iniciarSesion.titulo' | transloco">
  <form
    class="flex flex-col gap-16"
    [formGroup]="form"
    (submit)="$event.preventDefault(); enviar()"
  >
    <ts-campo
      idCampo="cuenta-correo"
      tipo="email"
      [label]="'cuenta.iniciarSesion.correo' | transloco"
      formControlName="correo"
    />

    <ts-campo
      idCampo="cuenta-clave"
      tipo="password"
      [label]="'cuenta.iniciarSesion.clave' | transloco"
      formControlName="clave"
    />

    @if (error()) {
      <p class="m-0 text-ts-error" role="alert">{{ error() }}</p>
    }

    <a
      class="anillo-foco inline-flex min-h-tactil items-center self-start text-ts-primario no-underline hover:underline"
      [routerLink]="['../recuperar-clave']"
    >
      {{ 'cuenta.iniciarSesion.olvidaste_clave' | transloco }}
    </a>

    <ts-boton
      variante="primario"
      tipo="submit"
      [deshabilitado]="formularioInvalido()"
      [cargando]="enviando()"
      [etiquetaCargando]="'cuenta.iniciarSesion.enviando' | transloco"
    >
      {{ 'cuenta.iniciarSesion.entrar' | transloco }}
    </ts-boton>
  </form>
</ts-pagina-formulario>
